*  {
  padding: 0px;
  margin: 0px;
}

body{
  overflow: hidden;
  font-family: 'Oswald', sans-serif;

}
h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway', sans-serif;
}

button, .btn {
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ccc;
  color: #4d4d4d;
}

button.warning, a.warning {
  color: white;
  background-color: #f0ad4e;
}
button.danger, a.danger {
  color:white;
  background-color: #d43f3a;
}
button.alternativo, a.alternativo {
  color:white;
  background-color: #286087;
}

button.icon, a.icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="search"], textarea, select {
  border: 1px solid #ccc;
  width: 100%;
  height: 30px;
  padding: 5px;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 5px;
}
select {
  font-weight: normal;
}

header {
  background-color: white;
  height: 70px;
  border-bottom: #ccc;
  width: 100%;
  position: fixed;
  z-index: 10;
}
header > h1 {
  margin-left: 10%;
  width: 20%;
  float: left;
  margin-top: 10px;
}

header > nav {
  float: right;
  width: auto;
  margin-right: 20%;
  margin-top: 10px;
}
header > nav > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  float: left;
  margin-right: 10px;
}

header > nav > h2 {
  float: left;
  font-size: 1.2rem;
  line-height: 2;
}
aside {
  width: 10%;
  float: left;
  margin-top: 70px;

}

main {
  width: 80%;
  float:left;
  margin-top: 70px;
}

aside > nav > ul > li {
  list-style: none;

}

aside > ul{
padding-left: 50px;
}
aside > nav > ul > li:hover{
	opacity: 0.4;
}
aside > nav > ul > li > a{
	text-decoration: none;
	color: #4d4d4d;
	font-size: 1.1rem;

}
fieldset {
  border: none;
  padding:5px;
}
.cols60 {
  display: inline-block;
  vertical-align: top;
  width: 65%;
}
.cols30 {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-left: 50px;
}
.datos {
  width: 100%;
  text-align: center;
}
.datos > thead > tr > td {
  font-weight: bold;
  font-size: 1.5rem;
}
.datos td {
  border: 1px solid black;
  max-width: 300px;
}
.datos button {
  width: 50px;
  color: white;
  background: #dc3545;
  cursor: pointer;
}

.datos button:first-child {
  background: #007bff;
}
#modal {
  position: absolute;
  width: 30%;
  padding: 5px;
  /* height: px; */
  background-color: white;
  left: 40%;
  top: 150px;
  text-align: center;
  z-index: 2;
  display: none;
  -webkit-box-shadow: -4px 10px 34px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 10px 34px -3px rgba(0,0,0,0.75);
  box-shadow: -4px 10px 34px -3px rgba(0,0,0,0.75);
  border-radius: 5px;
  display: none;
}
#modal input, #modal textarea {
  padding: 0;
}
.error {
  text-align: center;
  color: #a21f0c;
  width: 65%;
  font-size: 1.5rem;
  padding-top: 5px;
}
